$fontColor:#fff;
$skew-amount: 4deg;

@mixin flex-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
:root {
    font-family: sans-serif;
     color:$fontColor; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// for background Image
.bg-container {
    background: url('/public/img/background-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 50px 0;
    transform:(skew(0deg, 3deg));
    margin-top: -70px;

    .content {
       transform:(skew(0deg, -3deg));
    }
}

.brand-logo img{
    width: 150px;
   
}
.navbar-content{
   @include flex-content;
   padding: 0px 30px;

 .nav-item{
    @include flex-content;
    flex-direction: column;
    row-gap: 30px;
    .top-item{
        @include flex-content;   
    }
    .main-item{
        @include flex-content;
    }
   }
    div li {
    
    list-style: none
   }
   div li a{
    text-decoration: none;
    color: $fontColor;
   }
    .icon{
       @include flex-content;
       
    }
}