$fontColor:#fff;

:root {
    font-family: sans-serif;
    /* color:$fontColor; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    background-image: url('/public/img/background-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // height: 100vh;
    border-left: 20px;
    
  
}